<div>

	<div class="card">
		<div class="view overlay hm-white-slight">
			<img src="images/cgp.jpg" class="img-fluid" alt=""height="100px;" width="100px;">
		</div>
		<div class="card-block">

			<h4 class="card-title">
				<b>{{vistaCtrl.poi.direccion}}</b>
			</h4>
			<h3 class="card-text">{{vistaCtrl.poi.zona}}</h3>

			<table class="table table-striped table-hover"
				ng-table="vistaCtrl.poi.servicios">
				<thead class="thead-inverse">
					<th>Servicios</th>


				</thead>
				<tr ng-repeat="servicio in vistaCtrl.poi.servicios">


					<th>{{servicio}}</th>


				</tr>
			</table>
		</div>
		<button id="aceptar" class="btn btn-default" autofocus="true"
			data-ng-click="vistaCtrl.volver()">
			<i class="fa fa-mail-reply " aria-hidden="true"></i> Aceptar
		</button>
	</div>

</div>

