	<div class="card">
		<div class="card-block">


			<div class="text-xs-center">
				<h3>
					<i class="fa fa-lock"></i> Login:
				</h3>
				<hr class="m-t-2 m-b-2">
			</div>


			<div class="md-form">
				<i class="fa fa-user prefix"></i> <input type="text" id="form2"
					class="form-control" ng-model="loginCtrl.usuario"> <label
					for="form2">Nombre de usuario</label>
			</div>

			<div class="md-form">
				<i class="fa fa-lock prefix"></i> <input type="password" id="form4"
					class="form-control" ng-model="loginCtrl.clave"> <label
					for="form4">Contraseña</label>
			</div>

			<div class="text-xs-center">


				<button id="iniciarSesion" class="btn btn-primary" data-ng-click="loginCtrl.login()">Iniciar
						Sesion</button>
			</div>

		</div>

		<!--Costado-->
		<div class="modal-footer">
			<div class="options">
				<p>
					¿No sos miembro? <a href="#">Registrarse</a>
				</p>
				<p>
					¿Olvidaste la <a href="#">Contraseña?</a>
				</p>
			</div>
		</div>

	</div>