
<div class="view overlay hm-white-slight">
	<img src="{{poiCtrl.poi.icono}}" class="img-fluid" alt=""
		height="100px;" width="100px;">
</div>

<div ui-view></div>

<div class="col-md-12">
	<div class="media" ng-repeat="review in poiCtrl.poi.reviews">
		<a class="media-left waves-light"> </a>
		<div class="media-body">
			<h3 class="media-heading">{{review.comentario}}</h3>
			<h2 class="media-heading">{{review.puntaje}}</h2>
			<p>{{review.usuario}}</p>
		</div>
	</div>
	<button id="aceptar" class="btn btn-default" autofocus="true"
			data-ng-click="poiCtrl.volver()">
			<i class="fa fa-mail-reply " aria-hidden="true"></i> Volver
		</button>
</div>
<div ng-hide="poiCtrl.tieneReview">
	<div class="form-group" >
		<label for="sel1">Elija el puntaje del Poi</label>
		 <select class="form-control" id="sel1" ng-model="poiCtrl.puntaje">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>

	</div>
	<div class="md-form">
		<i class="fa fa-comment-o" aria-hidden="true"></i> <input type="text"
			id="form2" class="form-control" ng-model="poiCtrl.comentario">
		<label for="form2">comentario...</label>
	</div>
	<div class="container">
		<a class="btn btn-default" data-ng-click="poiCtrl.enviar()">Enviar
			<i class="fa fa-upload" aria-hidden="true"></i>
		</a>
		
	</div>
</div>